Repository 10gen/leafygreen-ui, changes with the owners that CODEOWNERS names for each.
All owners: @spark33, @thesonofthomp, @shaneeza

CODEOWNERS:

# This file defines codeowners in the leafygreen-ui repo, such that reviewers can be automatically assigned to open PRs

# Please note, this is a WIP team convention, and a stanp from a codeowner is not required to merge a new change into the repo

# Example: /packages/example/ @bruugey

/packages/a11y/
/packages/badge/
/packages/banner/
/packages/box/
/packages/button/ @spark33
/packages/callout/
/packages/card/
/packages/checkbox/
/packages/code/
/packages/combobox/ @thesonofthomp @shaneeza
/packages/confirmation-modal/ @shaneeza
/packages/copyable/
/packages/emotion/
/packages/empty-state/ @spark33
/packages/expandable-card/ @thesonofthomp @spark33
/packages/form-footer/ @thesonofthomp
/packages/guide-cue/ @shaneeza
/packages/hooks/ @thesonofthomp
/packages/icon/
/packages/icon-button/
/packages/inline-definition/ @shaneeza
/packages/leafygreen-provider/
/packages/lib/
/packages/loading-indicator/ @spark33
/packages/logo/
/packages/marketing-modal/ @shaneeza
/packages/menu/
/packages/modal/ @shaneeza
/packages/number-input/ @shaneeza
/packages/pagination/ @spark33
/packages/palette/
/packages/password-input/ @shaneeza
/packages/pipeline/ @shaneeza
/packages/popover/ @shaneeza
/packages/polymorphic/ @thesonofthomp
/packages/portal/
/packages/radio-box-group/
/packages/radio-group/
/packages/ripple/
/packages/search-input/ @thesonofthomp
/packages/segmented-control/ @thesonofthomp
/packages/select/
/packages/side-nav/
/packages/split-button/ @shaneeza
/packages/stepper/ @spark33
/packages/table/ @spark33 @thesonofthomp
/packages/tabs/
/packages/testing-lib/
/packages/text-area/
/packages/text-input/
/packages/toast/ @thesonofthomp
/packages/toggle/
/packages/tokens/
/packages/tooltip/ @shaneeza
/packages/typography/ 

/scripts @thesonofthomp
/scripts/slackbot @thesonofthomp

./storybook/ @thesonofthomp @spark33
./.github/ @thesonofthomp @spark33

pnpm React 17 (#2629)
  .github/workflows/react17.yml
  packages/testing-lib/src/waitForTransition/waitForTransition.ts
  tools/storybook-addon/src/main/index.ts
  tools/test/config/react17/r17-packages.json
  tools/test/scripts/install-react17.ts
  turbo.json
Owners: none

Lint install-react17 script
  tools/test/scripts/install-react17.ts
Owners: none

Fix date-picker spec
  packages/date-picker/src/shared/components/DateInput/DateInputBox/DateInputBox.spec.tsx
Owners: none

Fix lint
  charts/core/src/Echart/useEchart.ts
  packages/table/src/Cell/Cell.spec.tsx
  packages/table/src/Cell/Cell.stories.tsx
  packages/table/src/Cell/HeaderCell/HeaderCell.spec.tsx
  packages/table/src/Cell/HeaderCell/HeaderCell.stories.tsx
  packages/table/src/ExpandedContent/ExpandedContent.spec.tsx
  packages/table/src/Row/HeaderRow/HeaderRow.stories.tsx
  packages/table/src/Row/Row.stories.tsx
  packages/table/src/Table.Interactions.stories.tsx
  packages/table/src/Table.stories.tsx
  packages/table/src/Table/TableWithVS.stories.tsx
  packages/table/src/useLeafyGreenTable/useLeafyGreenTable.spec.tsx
  packages/table/src/utils/getTestUtils/getTestUtils.spec.tsx
  packages/table/src/utils/testHookCalls.testutils.tsx
  tools/test/scripts/install-react17.ts
Owners: @spark33, @thesonofthomp

Fix chat stories
  chat/avatar/package.json
  chat/fixed-chat-window/package.json
  chat/fixed-chat-window/src/FixedChatWindow.stories.tsx
  chat/input-bar/package.json
  chat/message-feed/package.json
  chat/message/package.json
  pnpm-lock.yaml
Owners: none

Changeset
  .changeset/warm-waves-clap.md
Owners: none

Remove @ts-ignore comments
  chat/lg-markdown/src/LGMarkdown/LGMarkdown.tsx
  chat/message-feed/src/MessageFeed.stories.tsx
  packages/polymorphic/src/Polymorphic/Polymorphic.ts
  packages/side-nav/src/SideNavItem/SideNavItem.tsx
  packages/text-area/src/TextArea/TextArea.tsx
Owners: @thesonofthomp

Update node and pnpm versions in github actions
  .github/workflows/clean.yml
  .github/workflows/pr.yml
  .github/workflows/react17.yml
  .github/workflows/release.yml
  .github/workflows/sizeDiff.yml
Owners: none

Add comment to re-add sizeDiff job after PNPM migration
  .github/workflows/sizeDiff.yml
Owners: none

Feedback
  package.json
  packages/a11y/package.json
  packages/combobox/src/Combobox/Combobox.tsx
  packages/search-input/src/SearchInput/SearchInput.tsx
  packages/testing-lib/package.json
  pnpm-lock.yaml
  tools/codemods/package.json
  tools/lint/config/npmpackagejsonlintrc.config.js
  tools/test/.npmrc
  tools/test/config/react17/r17-packages.json
  tools/validate/src/dependencies/fixDependencyIssues.ts
Owners: @thesonofthomp, @shaneeza

Feedback pt2
  .github/workflows/pr.yml
  .github/workflows/react17.yml
  .github/workflows/release.yml
  .github/workflows/sizeDiff.yml
  package.json
  packages/testing-lib/package.json
  pnpm-lock.yaml
  tools/codemods/package.json
Owners: none

Update publish script in release flow
  .github/workflows/release.yml
Owners: none
